:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --primary-color: white;
  --secondary-color: 91, 97, 93;
  --accent-color: #ff4202;
  --font-color: black;
}

* {
  margin: 0;
}

body {
  color: var(--accent-color);
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: rgb(var(--secondary-color));
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

#navbar {
  width: 6rem;
  height: 100vh;
  position: fixed;
  background-color: rgb(var(--secondary-color));
  -webkit-box-shadow: inset -6px 0 14px -6px rgba(0, 0, 0, 0.2);
  box-shadow: inset -6px 0 14px -6px rgba(0, 0, 0, 0.2);
}

#navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navpoint {
  margin-top: 1rem;
  width: 100%;
  filter: grayscale(70%);
}

.navpoint:hover {
  filter: grayscale(0%);
}

.navpoint.selected {
  filter: grayscale(0%);
  border-left: 0.2rem solid var(--accent-color);
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1rem;
}

.navpoint:last-child {
  margin-top: auto;
  margin-bottom: 4rem;
  filter: grayscale(0%);
}

.nav-link svg,
#logo-container {
  min-width: 2rem;
  margin: 0.2rem;
  width: 3.5rem;
  fill: var(--accent-color);
  stroke: black;
}

#youth {
  width: 2.5rem;
}

#logo-container img {
  height: auto;
  width: 100%;
  margin-top: 2rem;
}

main {
  width: calc(100vw - 8rem);
  height: calc(100vh - 5rem);
  margin-left: 6rem;
  padding: 1rem;
  padding-top: 4rem;
  display: grid;
}

#index-main {
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-rows: 50%;
}

#youth-main {
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-rows: 50%;
}

.grid-link.map {
  grid-column: span 2 / auto;
  grid-row: span 2 / auto;
}

#news {
  justify-content: flex-start;
  padding: 24px 20px;
  box-sizing: border-box;
  .grid-title-text {
    margin-bottom: 20px;
    background-color: white;
  }
  &:hover {
    transform: scale(1);
  }
}

#t-ball {
  background-image: url("images/tball.jpg");
}
#little-league {
  background-image: url("images/little-league.jpg");
}
#u14 {
  background-image: url("images/u14.jpg");
}

#youth-gallery {
  background-image: url("images/youth-galley.jpg");
}

#parents {
  background-image: url("images/parents.jpg");
}

#summaries {
  background-image: url("images/summaries.jpg");
}
#player-profiles {
  background-image: url("images/player-profiles.jpg");
}
#schedule {
  background-image: url("images/schedule.jpg");
}

#senior-gallery {
  background-image: url("images/senior-gallery.jpg");
}

.grid-link {
  cursor: initial;
  text-decoration: none;
  color: var(--accent-color);
}

.main-grid-elements {
  cursor: pointer;
  margin: auto;
  height: 75%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px 6px 27px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 6px 27px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 6px 27px -2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.grid-title-text {
  text-decoration: none;
  margin: 0;
  text-align: center;
  background-color: rgba(var(--secondary-color), 0.7);
  padding: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  font-size: 20px;
}

#ungdom {
  background-image: url("images/youth.jpg");
}
#senior {
  background-image: url("images/senior.jpg");
}
#baseball {
  background-image: url("images/baseball.jpg");
}
#map {
  background-image: url("images/map.jpg");
}

.main-grid-elements:hover {
  transition: transform 0.5s;
  transform: scale(1.03);
}

#news-main {
  margin-left: 8rem;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

.news-update {
  width: 70%;
  transform: translateX(2rem);
  scroll-snap-align: start;
  margin-bottom: 4rem;
  padding: 2rem;
  -webkit-box-shadow: 10px 6px 27px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 6px 27px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 6px 27px -2px rgba(0, 0, 0, 0.2);
  height: auto;

  .news-date-p {
    margin: 0;
  }
  h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  p {
    color: var(--font-color);
    line-height: 1.4rem;
  }
}

.filler {
  width: 100%;
  height: 1px;
}

#gamedate {
  margin: auto;
  margin-bottom: 1em;
}

#gallery-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1em;
  img {
    height: 300px;
    width: auto;
    margin: auto;
  }
}

#schedule-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  article {
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    border: 1px solid rgba(156, 156, 156, 0.219);
    -webkit-box-shadow: 10px 6px 2px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 6px 2px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 6px 2px -2px rgba(0, 0, 0, 0.2);
    h4 {
      margin: 0;
    }
    h5 {
      margin: 0;
    }
    .teams {
      text-align: center;
      font-size: 1em;
      justify-self: center;
      margin: 0.8em auto;
    }
    .away-team,
    .home-team {
      margin: 0.5em 0 1em;
      font-size: 1.4em;
    }
    .location-p {
      text-align: center;
      font-size: 0.8em;
      margin: 1em 0 2em;
    }
    .location {
      font-size: 1.4em;
    }
  }
}

#contact {
  main {
    display: block;
  }
  .contact-card {
    padding: 40px 0;
  }
  .come-find-us {
    padding-top: 100px;
    font-size: 21px;
  }
}

#player-profile-main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  height: auto;
}

.player-profile {
  width: 350px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  .image-wrapper {
    margin: auto;
    width: 60%;
    padding-bottom: 75%;
    position: relative;
    margin-bottom: 10px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: r;
    }
  }
  .player-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 8px 0 12px;
    .top {
      font-size: 11px;
      opacity: 0.8;
    }
    .bot {
      font-size: 14px;
    }
  }
  .small-headline {
    font-size: 14px;
    opacity: 0.8;
  }
  .player-bio {
    line-height: 140%;
    margin-bottom: 24px;
  }
}
